/* Theme 스타일 작성 */
:root {
  --color-red-500: #e52330;
  --color-blue-500: #0096e4;
  --color-green-500: #c7cd1d;
  --color-black-500: #000000;
  --color-gray-500: #c4c4c4;
  --color-white-500: #fff;
}